---
http_interactions:
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/calories?max=106&min=96
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0,"protein":1.0}},{"name":"Passionfruit","id":70,"family":"Passifloraceae","order":"Malpighiales","genus":"Passiflora","nutritions":{"calories":97,"fat":0.7,"sugar":11.2,"carbohydrates":22.4,"protein":2.2}}]'
  recorded_at: Wed, 07 Feb 2024 22:37:12 GMT
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/banana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0,"protein":1.0}}'
  recorded_at: Wed, 07 Feb 2024 22:37:13 GMT
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/calories?max=106&min=96
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0,"protein":1.0}},{"name":"Passionfruit","id":70,"family":"Passifloraceae","order":"Malpighiales","genus":"Passiflora","nutritions":{"calories":97,"fat":0.7,"sugar":11.2,"carbohydrates":22.4,"protein":2.2}}]'
  recorded_at: Wed, 07 Feb 2024 22:37:13 GMT
recorded_with: VCR 6.2.0
